<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div class="nav">
<ul>
<a href="/"<i class="fas fa-arrow-left"></i></a>
</ul>
<div>
<section class="todoapp">
      <header class="header">
        <h1><%= @list.name %></h1>
        <input class="new-todo" placeholder="Add a new item" autofocus="">
      </header>

      <section class="main">
        <input class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <li>
            <div class="view">
            </div>
          </li>
        </ul>
      </section>
      <footer class="footer">
      </footer>
    </section>
